
@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
    @apply max-w-6xl mx-auto text-center;
}

.section-content {
    @apply max-w-3xl mx-auto text-2xl leading-9 text-center text-darkGrayishBlue
}

.btn-container {
    @apply flex flex-col justify-center w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4
}

@layer base {
    h3 {
        @apply mb-8 text-4xl font-bold md:text-5xl
    }
    h5 {
        @apply mb-2 text-4xl 
    }
}
#hero {
    background-image: url('/images/fondo_hero5.jpg');
    background-size: cover; /* para cubrir todo el contenedor */
    background-position: center; /* para centrar la imagen */
}



#promo {
    background-image: url('/images/info_zaracay.jpg');
    background-size: cover; /* para cubrir todo el contenedor */
    background-position: center; /* para centrar la imagen */

}